.banner {
    width: 100%;
    min-height: 200vh;
    position: relative;
    &__top {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: url("/../template/img/banner.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include respond-only(xs) {
            background: url("/../template/img/banner-sm.jpg");
            background-size: 100% 100vh;
            background-repeat: no-repeat;
            // background-position: left center;
        }

        & > .banner_overlay {
            // background: url("/../template/img/overlay2.png") repeat;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;

            & #content {
                & > h1 {
                    color: $primary !important;
                }
                & > .name {
                    padding-top: 20rem !important;
                }
            }
        }
    }

    &__below {
        position: sticky;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: url("/../template/img/big_image.jpg") repeat-y top center
            fixed;
        margin: 0 auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.home {
    &__newsletter {
        width: 100%;
        padding: 5rem $container-padding;
        margin: 5rem 0;
        background: transparent;
        &__wrapper {
            width: 100%;
            & > form {
                width: 50%;
                margin: 0 auto;
                text-align: center;
                & > h1 {
                    font-family: $font-family-sans-serif !important;
                    text-transform: none !important;
                    letter-spacing: 0 !important;
                    margin-bottom: 1.5rem;
                    font-size: 1.8rem !important;
                    font-weight: 200;
                    color: $white !important;
                    margin-bottom: 0 !important;
                    @include respond-only(xs) {
                        font-size: 1.2rem;
                    }
                }
                & .input__wrapper {
                    width: 100%;
                    height: 4rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-radius: 0.5rem;
                    background-color: $white;
                    overflow: hidden;
                    -webkit-box-shadow: -1px 2px 2px 1px
                        rgba(204, 197, 190, 0.29);
                    box-shadow: -1px 2px 2px 1px rgba(204, 197, 190, 0.29);
                    // @include respond-only(xs) {
                    //     width: 95%;
                    //     padding: 0 2rem;
                    //     & > form {
                    //         width: 100%;
                    //         margin: 0rem;
                    //     }
                    // }
                    & > input {
                        flex: 4 35rem;
                        height: inherit;
                        font-size: 1.2rem;
                        padding: 0 0.8rem;
                        background-color: inherit;
                        font-family: inherit;
                        color: inherit;
                        background-color: inherit;
                        border: none; //1px solid $primary;
                        outline: none;
                        border-radius: 0.2rem;
                        display: block;
                        transition: all 0.2s;
                        color: $text;
                        &:placeholder-shown {
                            color: $text;
                        }
                    }
                    & > button.append {
                        @include readMoreBtn;
                        padding: 0 1rem;
                        background: $secondary;
                        letter-spacing: 1.1px;
                        border-radius: 0;
                        border: none;
                        font-size: 1.2rem;
                        &:hover {
                            background: $secondary;
                            text-decoration: none;
                        }
                        &:disabled {
                            background: rgba($secondary, 1.5);
                        }
                    }
                }
            }
            @include respond-only(xs) {
                padding: 0 2rem;
                & > form {
                    width: 100%;
                    margin: 0rem;
                }
            }
        }
        @include respond-down(md) {
            padding: 0 5rem;
        }
        @include respond-only(xs) {
            padding: 0 2rem;
        }
    }
}

.collapse__header {
    width: 100%;
    height: 7rem;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
    background-color: $white;
    border-radius: 15px;
    user-select: none;
    padding: 0 3rem;
    margin-top: 3rem;
    &:not(:first-child) {
    }

    box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
    -webkit-box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);
    -moz-box-shadow: -1px 1px 5px 1px rgba(123, 123, 123, 0.45);

    &__left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        &__title {
            & > h1 {
                font-weight: 300 !important;
                color: $secondary !important;
                font-weight: inherit !important;
                font-size: inherit !important;
                line-height: inherit !important;
                letter-spacing: normal !important;
                margin: 0 !important;
                text-transform: none !important;
                @include respond-only(xs) {
                    font-weight: 300 !important;
                    color: $secondary !important;
                    font-weight: inherit !important;
                    font-size: inherit !important;
                    line-height: inherit !important;
                    letter-spacing: normal !important;
                    margin: 0 !important;
                    text-transform: none !important;
                }
            }
        }
        &__icon {
            cursor: pointer;
            & > .icon > i {
                font-size: 5rem !important;
                color: $secondary !important;
                @include respond-down(md) {
                    font-size: 3rem !important;
                }
            }
        }
        & > .icon-right {
            background-color: rgba(180, 180, 180, 0.808);
            border-radius: 9999%;
        }
        & > .icon-right.v-btn--icon.v-size--default {
            height: 25px !important;
            width: 25px !important;
        }
    }
    &__middle {
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & .avatars {
            // width: 50%;
            // height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__avatar {
                width: 2rem;
                height: 2rem;
                border-radius: 99999px;
                margin: 0 0.3rem;
                background-color: rgba(180, 180, 180, 0.808);
                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        & .pills {
            // width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &__pill {
                padding: 0.2rem 0.8rem;
                border-radius: 99999px;
                margin: 0 0.5rem;
                &:first-child {
                    background-color: rgba(180, 180, 180, 0.808);
                }
                &:last-child {
                    background-color: rgba(253, 196, 8, 0.12);
                    color: #fdc408 !important;
                }
                & > span > i {
                    font-size: 17px !important;
                    color: #fdc408 !important;
                }
            }
        }
        &__period {
            text-align: center;
            & > p {
                margin-bottom: 0 !important;
                line-height: 1.5;
                color: black;
                font-weight: bold;
                text-transform: capitalize;
            }
            & span {
                color: $text;
            }
        }
    }
    &__right {
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & .progress {
        }
        & .fat__arrow {
            margin-left: 5rem;
            & .arrow {
                width: 2.5rem;
                height: 2.5rem;
                display: inline-block;
                border: 2px solid black;
                border-top: transparent;
                border-left: transparent;
                transform: rotate(45deg);
            }
        }
    }
}
.collapse__content {
    width: 100%;
    // background-color: red;
    margin: 2rem 0;
    padding: 0 3rem;
    & > p {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        & > a {
            color: $primary;
        }
    }
    & > .bank-png {
        width: 100%;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
}

.scholarship {
    &__about {
        width: 100%;
        padding: 2rem 0;
        background: $white;
        &__title {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            color: $text;
            & > h1 {
                font-size: 2rem;
                color: $secondary;
                margin-bottom: 2rem;
            }
        }

        &__description {
            $card-padding: 5rem;
            $description-height: 55rem;
            $description-height-halve: calc(#{$description-height} / 6);
            $line-width: 5rem;
            $kite: 0.5rem;

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 2rem 5rem;
            height: $description-height;
            color: $white;

            & .about-title {
                & > h1 {
                    font-size: 1.6rem !important;
                    letter-spacing: 1.8px !important;
                    line-height: 1 !important;
                    color: $primary !important;
                    text-transform: none;
                }
                margin-bottom: 1rem;
                &:not(:first-child) {
                    margin: 1rem 0;
                }
            }

            &__left {
                width: calc(50% - 1rem);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 $card-padding;
                background-image: repeating-linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0.799),
                        rgba(0, 0, 0, 0.799)
                    ),
                    url("/../template/img/scholarship-2.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                & article {
                    margin-top: 1rem;
                    & > p {
                        margin-bottom: 1rem !important;
                    }
                }
            }
            &__right {
                width: calc(50% - 1rem);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 $card-padding;
                background-image: repeating-linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0.799),
                        rgba(0, 0, 0, 0.799)
                    ),
                    url("/../template/img/scholarship-1.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            & .line {
                width: $line-width;
                display: flex;
                align-items: center;
                margin: 0.5rem 0;
                &__kite {
                    width: $kite;
                    height: $kite;
                    background: red;
                    transform: rotate(45deg);
                }
                &__main {
                    width: calc(#{$line-width} - calc(#{$kite} * 2));
                    height: calc(#{$kite} / 2);
                    background: red;
                }
            }
            @include respond-down(md) {
                $card-padding: 2rem;
                $description-height: 35rem;
                width: 100%;
                height: calc(
                    (#{$description-height} * 2 + #{$description-height-halve})
                );
                padding: 0 2rem;

                & .about-title {
                    & > h1 {
                        font-size: $title-md;
                        letter-spacing: 1.8px;
                        line-height: 1;
                    }
                    margin-bottom: 1rem;
                    &:not(:first-child) {
                        margin: 1rem 0;
                    }
                }

                &__left {
                    padding: 0 $card-padding;

                    & article {
                        margin-top: 1rem;
                        font-size: $para-md;
                    }
                }
                &__right {
                    & article {
                        font-size: $para-md;
                    }
                }
            }
            @include respond-only(xs) {
                $description-height: 70rem;
                width: 100%;
                height: calc(
                    (#{$description-height} * 2 + #{$description-height-halve})
                );
                padding: 0 2rem;
                flex-direction: column;
                // background: burlywood;

                & .about-title {
                    & > h1 {
                        font-size: $title-sm;
                        letter-spacing: 1.8px;
                        line-height: 1;
                    }
                    margin-bottom: 1rem;
                    &:not(:first-child) {
                        margin: 1rem 0;
                    }
                }

                &__left {
                    width: 100%;
                    height: calc(
                        calc(
                                #{$description-height} + #{$description-height-halve}
                            ) - 1rem
                    );
                    padding: 0 $card-padding;

                    & article {
                        margin-top: 1rem;
                        font-size: $para-sm;
                    }
                }
                &__right {
                    width: 100%;
                    height: calc(#{$description-height} - 1rem);
                    padding: 0 $card-padding;

                    & article {
                        font-size: $para-sm;
                    }
                }
            }
        }
    }
}
