.banner {
    width: 100%;
    min-height: 200vh;
    position: relative;
    &__top {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: url("/../template/img/banner.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        & > .banner_overlay {
            background: url("/../template/img/overlay2.png") repeat;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    &__below {
        position: sticky;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: url("/../template/img/big_image.jpg") repeat-y top center
            fixed;
        margin: 0 auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
